streamlit==1.44.1
pandas==2.2.3
numpy==2.2.4
pillow==11.2.1
opencv-python-headless==4.11.0.86
plotly==6.0.1
fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pymupdf==1.25.5
qrcode==8.0
